html {
	font-size: : 1em;
	line-height: 1.4;
}

.list {
	width: 20%;
	float: left;
	border: 1px solid grey;
	padding: 7px;
	margin: 7px;
	background-color: purple;
}

.list h3 {
	padding-left: 7px;
	color: white;
}

ul {
	list-style: none;
	padding: 0l
}

.card {
	border-style: dotted;
    border-width: 1px;
    padding-left: 5px;
    background-color: #ac39ac; 
    margin-bottom: 5px;
}

.card:hover{
	background-color: white;
}

.flex {
	float: right;
}

.card button, .card input, .card textarea {
	color: #404040;
	margin: 2px 0px;
}

.card textarea {
	width: 100%;
	resize: vertical;
}

.logout {
	float:right;
}